
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #0d0d0d;
    color: whitesmoke;
}

h1 {
    text-align: center;
    color: #0d0d0d;
}  
.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    padding: 30px;
}  
.search {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

form {
    display: flex;
}

input {
    padding: 15px 10px;
    outline: none;
    width: 400px;
}

.li-container {
    background-color: white;
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}

.btn-delete {
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    width: 15%;
    font-size: 2rem;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


.btn-delete:hover {
    cursor: pointer;
    background-color: red;
}

.btn-add {
    padding: 5px 15px;
    margin: 0px 10px;
    border: none;
    color: whitesmoke;
    font-family: fantasy;
    background-color: green;
    font-size: 3rem;
    outline: none;
    border-radius: 5px;
}

.btn-add:hover {
    cursor: pointer;
    background-color: rgb(138, 214, 25);
}

.empty {
    margin: 10px 0px;
    color: darkslategrey;
}